.cat-fact {
	font-style: italic;
}

.fact-label {
	font-weight: bold;
}

.facts-list-item {
	list-style: none;
}

.content {
	border: 1px solid black;
	margin: 0 auto;
	width: 320px;

}

.cat-info {
	border: 1px solid black;
	margin: 10px;
}

.card-image {
	padding: 10px;
}

.card-title {
	padding: 10px;
}

